#header {
	text-align:center;
	vertical-align:middle;
	line-height:100%;
	border:solid 2px;
	margin:auto;
	width: 750px;
}
.outer-box{
	text-align:center;
	vertical-align:middle;
	border:solid 2px;
	margin:auto;
	width: 750px;
	height: 775px;
	border-top: 0px;
	padding-top: 25px;
}
.bottom-box{
	display: inline-block;
}
table {
   width: 100%;
}
tbody {
   width: 100%;
}
tr {
	display: block;
	height: 133;
	width: 725px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 10px;
}
td {
	display: inline-block;
	border: solid 2px;
	width: 135px;
	height: 129px;
	margin: auto;
	font-size: auto;
   text-align: center;
   vertical-align: middle;
}
td.x_mark {
	background-image:url("x_mark.svg");
}
td.o_mark {
	background-image:url("o_mark.svg");
}
button {
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
}
